<div class ="row bottom-padding">

  <h3> Topics </h3>
  <hr>
  <% @topics.each do |topic| %>
  <div class="small-3 columns">
  <p><%= link_to topic.name, group_topic_path(topic.group.slug, topic) %><em> x<%= topic.items.count %></em></p>
  <p><%= topic.description %>
</div>
<% end %>