<div class="small-4 columns">
	<h3>Edit Topic</h3>
		<%= render 'form' %>
		<% if @topic.items.empty? %>
    <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure you want to delete this topic?' } %>
    <% end %>
</div>



