<div class="span5">
  <h2>New topic</h2>
	<%= render 'form' %>
</div>

<div class="span6">
	<h3>Tip</h3>
	<p class="lead"> Check that the topic doesn't already exist and make sure it is relevant. </p>
</div>