<div class="large-12 columns header">
  <div class="large-8 columns">
    <h3> Groups </h3>
  </div>
  <div class="large-4 columns">
    <div class="panel callout radius">
      <p>You can browse any group, but to create topics, post links and comment, you need to join.</p>
    </div>
  </div>
  <hr>
</div>

<div class="large-12 columns">
  <div class="small-5 columns">
    <h4>New group</h4>
    <%= render 'form' %>
  </div>

  <div class="small-6 columns">
    <h4>Tip</h4>
    <p class="lead"> Only create a group if there's people interested, and no other relevant groups already exist. </p>
  </div>
</div>