<div class="row-fluid content">
  <div class="container">
    <h2><%= @user.name %></h2>
    <p>Created <%= @user.topics.count %> topics</p>
    <p>Posted <%= @user.items.count %> links</p>

    <p>Belongs to <%= @user.memberships.count %> group</p>
  </div>
</div>



