<div class="row-fluid content">
  <div class="container">
    <h2><%= @user_name %></h2>
    <div class="span4">
      <h4> Topics </h4>
      <p><%= @user_topics %></p>
    </div>
    <div class="span4">
      <h4> Links </h4>
    <p><%= @user_items %></p>
    </div>
    <p><%= @user_memberships %></p>
  </div>
</div>



