<div class="row">
  <div class="small-7 columns">
    <h3>Connects you with like minded people to help you share and discover the links that matter to you.</h3>
  </div>
  <div class="small-5 columns">
    <h3> Sign up </h3>
    <%= render 'devise/registrations/new' %>
</div>

<div class="row">
  <div class="small-4 columns">
    <h4>Groups</h4>
    <p>stuff to do with groups. </p>
  </div>
  <div class="small-4 columns">
    <h4>Topics</h4>
    <p>stuff to do with topics. </p>
  </div>
  <div class="small-4 columns">
    <h4>Links</h4>
    <p>stuff to do with links. </p>
  </div>
</div>