<%= simple_form_for [@group, @item] do |f| %>
<%= f.error_notification %>
      <div class="large-9 columns">
      <%= f.input :url, label: false, :required => true, :input_html => { placeholder: "Add new link...", :maxlength => 450 } %>
      </div>
      <div class="large-3 columns">
      <%= f.association :topic, :collection => @group.topics, label: false, :required => true %>
      </div>
      <% f.error :base %>

<% end %>