<%= render 'groups/header' %>

<div class="small-4 columns">
	<h2>Edit Link</h2>
		<%= render 'form' %>
		<%= link_to 'Delete', [@group, @item], method: :delete, data: { confirm: 'Are you sure you want to delete this link?' } %>
</div>



