<div class="span5">
  <h2>New link</h2>
	<%= render 'form' %>
</div>

<div class="span6">
	<h3>Tip</h3>
	<p class="lead"> Make sure you add a description which says why the link you're posting is useful. </p>
</div>