<div class="span12">
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-02">
    </button>
      <a href="/" class="brand">Bookmarks</a>
        <div class="nav-collapse collapse" id="nav-collapse-02">
          <ul class="nav pull-right">
              <li><a href="/">Home</a></li>
              <li><a href="/topics">Topics</a></li>
              <li><a href="/items">Links</a></li>
          </ul>
        </div>
  </div>
</div>
</div>